@model medical_care.Models.PolicyOnEmp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PolicyOnEmp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
