@model medical_care.Models.PolicyOnEmp

<div>
    <h4>PolicyOnEmp</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.PolicyName)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.PolicyName)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>Amount(USD)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.PolicyAmount)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.PolicyStart)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.PolicyStart)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.PolicyEnd)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.PolicyEnd)
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.CreatedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.UpdatedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.UpdatedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.DeletedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.DeletedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.Status)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
