@model medical_care.Models.Policy

<div>
    <h4>Policy</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>CompanyName</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Company.Name)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>HospitalName:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Hospital.Name)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>PolicyName:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Name)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.Description)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Description)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>Amount(USD)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Amount)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.CreatedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.UpdatedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.UpdatedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>Emi(USD)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Emi)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>AmountOfYear(USD):</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.AmountOfYear)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>Duration(year)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Duration)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.DeletedAt)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.DeletedAt)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.CreatedBy)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.CreatedBy)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.UpdatedBy)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.UpdatedBy)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div style="opacity: .8; margin-top: 7px">
                                        <h6>@Html.DisplayNameFor(model => model.Status)&nbsp;:</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="widget-numbers"
                                         style="font-size: 20px;display: block;">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
