@model medical_care.Models.Policy

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center">Policy Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PolicyId)

        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>CompName:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>HospitalName&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DropDownList("HospitalId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HospitalId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>PolicyName:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>Amount(USD)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label" })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.UpdatedAt, htmlAttributes: new { @class = "control-label " })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.UpdatedAt, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedAt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>EMI(USD)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.Emi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Emi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>AmountOfYear(USD)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.AmountOfYear, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AmountOfYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>Duration(Year)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.DeletedAt, htmlAttributes: new { @class = "control-label " })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.DeletedAt, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DeletedAt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label " })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.UpdatedBy, htmlAttributes: new { @class = "control-label " })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EditorFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section jsFooter {
    @Scripts.Render("~/bundles/jqueryval")
}
