@using Antlr.Runtime.Tree
@model medical_care.Models.Policy

@using Microsoft.AspNet.Identity

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Analytics Dashboard</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/Content/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        table {
            width: 100%;
        }

        #example_filter {
            float: right;
        }

        #example_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        .social-link {
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            border-radius: 50%;
            transition: all 0.3s;
            font-size: 0.9rem;
        }

            .social-link:hover,
            .social-link:focus {
                background: #ddd;
                text-decoration: none;
                color: #555;
            }
    </style>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!--    Navbar-->
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <img src="https://www.medicare.vn/CMSPages/GetFile.aspx?guid=cb261630-31f1-451b-b004-9cc69f6e7905" alt="medicare" style="width: 110px" />
            </div>

            <div class="app-header__content">
                <div class="app-header-left">
                    <ul class="header-menu nav">
                        <li class="nav-item p-3 ">
                            <i class="fa fa-home " aria-hidden="true"></i>
                            @Html.ActionLink("Home", "Index", "PolicyClient", null, new { style = "text-decoration: none" })
                        </li>
                        <li class=" nav-item p-3 text-decoration-none">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            @Html.ActionLink("Employee Details", "EmployeeDetails", "PolicyClient", new { id = User.Identity.GetUserId() }, new { style = "text-decoration: none" })
                        </li>
                        <li class=" nav-item p-3 text-decoration-none">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            @Html.ActionLink("Contact Us", "Create", "ContactUs", null, new { style = "text-decoration: none" })
                        </li>
                        <li class=" nav-item p-3 text-decoration-none">
                            <i class="fa fa-fa fa-users" aria-hidden="true"></i>
                            @Html.ActionLink("About Us", "Index", "AboutUs", null, new { style = "text-decoration: none" })
                        </li>
                        @*<li class="dropdown nav-item p-2">
                                @Html.ActionLink("Order For Insurance", "PolicyOnEmp", "PolicyClient")
                            </li>*@
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">

                                <div class="widget-content-right header-user-info ml-3">
                                    @*<button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                            <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                        </button>*@
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Main Content-->
        <div class="app-main">
            <!--        Main Content-->
            <div class="container">
                <div>
                    <h4 class="text-center">Order Insurance</h4>
                    <hr />
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-center">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>CompanyName&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Company.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>HospitalName&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Hospital.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>PolicyName&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>@Html.DisplayNameFor(model => model.Description)&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Description)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>Amount(USD)&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Amount)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>EMI(USD)&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Emi)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>Amount/Year(USD)</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.AmountOfYear)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div style="opacity: .8; margin-top: 7px">
                                                        <h6>Duration(Year)&nbsp;:</h6>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="widget-numbers"
                                                         style="font-size: 20px;display: block;">
                                                        @Html.DisplayFor(model => model.Duration)
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="position-relative row form-check">
                    <div class="col-sm-10 offset-sm-5">
                        @Html.ActionLink("Add", "AddRequest", new { id = Model.PolicyId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="~/Content/scripts/main.js"></script>
</body>
</html>