@model medical_care.Models.Employee

    <div>
        <h4>Employee</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.UserName)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.UserName)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Firstname)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Firstname)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Lastname)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Lastname)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Address)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Address)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Phone)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Phone)
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.City)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.City)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.CreatedAt)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.CreatedAt)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.UpdatedAt)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.UpdatedAt)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.DeletedAt)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.DeletedAt)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.EmpStatus)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.EmpStatus)
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
