@model medical_care.Models.PolicyRequest

    <div>
        <h4 class="text-center">He has a policy here is the details @Html.ActionLink("Add policy to employee", "Edit", new { id = Model.RequestId })</h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.PolicyId)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.PolicyId)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Policy.Name)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Policy.Name)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Amount)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Amount)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Policy.Duration)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Policy.Duration)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.Policy.Emi)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.Policy.Emi)
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="opacity: .8; margin-top: 7px">
                                            <h6>@Html.DisplayNameFor(model => model.CompanyName)&nbsp;:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="widget-numbers"
                                             style="font-size: 20px;display: block;">
                                            @Html.DisplayFor(model => model.CompanyName)
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
<p class="text-center">
    @Html.ActionLink("Delete", "Delete", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/bundles/jquery")