@model medical_care.Models.PolicyRequest

<h2></h2>

<div>
    <h4 class="text-center">He has a policy here is the details @Html.ActionLink("Add policy to employee", "Edit", new { id = Model.RequestId })</h4>
    <hr />
    @*<dl class="dl-horizontal ">*@
        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.PolicyId)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.PolicyId)
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.Policy.Name)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.Policy.Name)
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.Amount)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.Amount)
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.Policy.Duration)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.Policy.Duration)
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.Policy.Emi)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.Policy.Emi)
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-6 text-center">
                @Html.DisplayNameFor(model => model.CompanyName)
            </div>
            <div class="col-6">
                @Html.DisplayFor(model => model.CompanyName)
            </div>
        </div>

        @*<dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>*@

    @*</dl>*@
</div>
<p class="text-center">
    @Html.ActionLink("Delete", "Delete", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
